[submodule "vendor/rapidjson"]
	path = vendor/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "vendor/structopt"]
	path = vendor/structopt
	url = https://github.com/p-ranav/structopt.git
[submodule "vendor/sqlpp11"]
	path = vendor/sqlpp11
	url = https://github.com/rbock/sqlpp11.git
[submodule "vendor/drogon"]
	path = vendor/drogon
	url = https://github.com/an-tao/drogon.git
[submodule "vendor/indicators"]
	path = vendor/indicators
	url = https://github.com/p-ranav/indicators.git
[submodule "vendor/spdlog"]
	path = vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "vendor/catch2"]
	path = vendor/catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "vendor/fmt"]
	path = vendor/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "vendor/sqlpp11_connector_mysql"]
	path = vendor/sqlpp11_connector_mysql
	url = https://github.com/rbock/sqlpp11-connector-mysql.git
[submodule "vendor/date"]
	path = vendor/date
	url = https://github.com/howardhinnant/date
